<a href="https://colab.research.google.com/github/sparsh2002/MLmodels/blob/master/RidgeAndLasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
upload = files.upload()

Saving housepricing.csv to housepricing.csv

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error , r2_score

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/Statology/Python-Guides/main/mtcars.csv')

In [7]:
df.head()

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [8]:
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import RepeatedKFold

In [9]:
df = df[["mpg", "wt", "drat", "qsec", "hp"]]

In [10]:
df.head()

    mpg     wt  drat   qsec   hp
0  21.0  2.620  3.90  16.46  110
1  21.0  2.875  3.90  17.02  110
2  22.8  2.320  3.85  18.61   93
3  21.4  3.215  3.08  19.44  110
4  18.7  3.440  3.15  17.02  175

In [11]:
X = df[["mpg", "wt", "drat", "qsec"]]
y = df["hp"]

In [13]:
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
model = RidgeCV(alphas=np.arange(0, 1, 0.01), cv=cv, scoring='neg_mean_absolute_error')

In [14]:
model.fit(X, y)
print(model.alpha_)

0.99

In [15]:
#define new observation
new = [24, 2.5, 3.5, 18.5]

#predict hp value using ridge regression model
model.predict([new])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RidgeCV was fitted with feature names
  "X does not have valid feature names, but"

array([104.16398018])